In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
print(5+7) # operation
# + Operator
# 5,7 Oprand
# PEMDAS
print(8*7+3/2-4) # output
# 56+3/2-4
# 56+1.5-4
#57.5-4
#53.5

12
53.5

In [3]:
a = 7
b = 7
print (a)
print (b)

7
7

In [4]:
print (id(a))
print (id(b))

140712559744000
140712559744000

In [5]:
a = 7
type (a) # pass by reference

int

In [17]:
b = 20.7
type (b)

float

In [18]:
c = True
type (c)

bool

In [19]:
s = '80'
type (s)

str

In [20]:
a = """ pakistan 077"""
type (a)

str

In [12]:
#Index    0       1      2    3     4
name = ["ALi", "Hmaza", 20, True, False]
#Index   -5      -4     -3   -2    -1
type (name)

list

In [13]:
#Index    0       1      2    3     4
name = ["ALi", "Hmaza", 20, True, False]
#Index   -5      -4     -3   -2    -1
print (name)
print (name[1])
type (name)

['ALi', 'Hmaza', 20, True, False]
Hmaza

list

In [14]:
name = {"Hamza","Junaid","Kashif","Hamza"}
print(name)
type(name)

{'Hamza', 'Junaid', 'Kashif'}

set

In [15]:
name = {"Hamza","Junaid","Kashif","Hamza"}
print(name)
print(type(name))
name = list(name)
type(name)

{'Hamza', 'Junaid', 'Kashif'}
<class 'set'>

list

In [21]:
data = {"name":"Moin tirmizi",
       "Father_Name":"Saleem Tirmizi"
       }
data["name"]

'Moin tirmizi'

In [22]:
type (data)

dict

In [23]:
list (data)

['name', 'Father_Name']

# Basic functions with string data types

In [26]:
name1 = "Moin Tirmizi"
name2 = "moin tirmzi"
print (name1 == name2)
print (id(name1), id(name2), sep="\n")
print(name1)

False
2205896729648
2205902876784
Moin Tirmizi

In [31]:
name1 = "Moin Tirmizi"
name1 = name1.lower()
print(name1)

moin tirmizi

In [33]:
name1 = "Moin Tirmizi"
name1 = name1.upper()
print(name1)

MOIN TIRMIZI

In [34]:
name1 = "Moin Tirmizi"
name1 = name1.title()
print(name1)

Moin Tirmizi

In [37]:
name1 = "       Moin Tirmizi      "
print(len(name1))
print(name1.title())

25
       Moin Tirmizi

In [42]:
name1 = "       Moin Tirmizi      "
print(len(name1))
print(name1.lstrip())
print(name1.title())

25
Moin Tirmizi
       Moin Tirmizi

In [43]:
name1 = "       Moin Tirmizi      "
print(len(name1))
print(name1.title())
print(name1.rstrip())

25
       Moin Tirmizi
       Moin Tirmizi

In [58]:
a = "We are pakistan and we love our country!"
a.find("pakistan")

7

In [51]:
a[7:15:1] #start:end:step

'Pakistan'

In [61]:
a = "we are pakistan and we love our country!"
a[a.find("pakistan") : 15]

'pakistan'

In [63]:
a = "we are pakistan and we love our country!"
b = a.split()
b

['we', 'are', 'pakistan', 'and', 'we', 'love', 'our', 'country!']

In [64]:
b.count("we")

2

In [83]:
name = "Hamza"
fname =  "Konain"
program = 'PIAIC'

#%
print("student name": %s \n fname: %s \n \ program: %s" %(name,fname,program))

SyntaxError: invalid syntax (<ipython-input-83-b1185223b9bd>, line 6)

In [86]:
name = "Hamza"
fname =  "Konain"
program = 'PIAIC'

# +

"Student Name: " + name + " \n fname: " + fname + \
"\n program: " +program

'Student Name: Hamza \n fname: Konain\n program: PIAIC'

In [81]:
"1" + "1"

'11'

In [82]:
int ("1") + int("1")
print (int)

<class 'int'>

In [77]:
name = "Hamza"
fname =  "Konain"
program = 'PIAIC'

f'student name {name} \n fname: {fname} \n program: {program}

SyntaxError: EOL while scanning string literal (<ipython-input-77-8b9e5b45b6f7>, line 5)

In [ ]:
"name: {sn}"