In [11]:
# PEMDAS (15 digits)
print(15-56+23/47*562+85*51-52+256/45-45*63-89-2/5) # output

print(32+25/45*+6-52+125+82*46-85/75*254+852*555/259) # output

1598.3101654846337
5418.1809523809525

In [33]:
a = 50
b = 70
c= a+b*b-a

In [31]:
print (c)

4900

In [32]:
print (c/2)

2450.0

In [34]:
type (a)

int

In [35]:
type (c/2)

float

In [39]:
print (id(a))
print (id(b))
print (id(c))
print (id(c/2))

140712491456864
140712491457504
2278883833872
2278883481712

In [50]:
# indexing
name = ["Moin", "Usama", "Maaz","Hamza","Arqam"]
list (name)

['Moin', 'Usama', 'Maaz', 'Hamza', 'Arqam']

In [52]:
# index   0        1        2      3       4
name = ("Moin", "Usama", "Maaz","Hamza","Arqam")
print(name)
print(name[3])
type(name)

('Moin', 'Usama', 'Maaz', 'Hamza', 'Arqam')
Hamza

tuple

In [53]:
name = {"Moin", "Usama", "Maaz","Hamza","Arqam"}
print(name)
print(type(name))
type(name)

{'Arqam', 'Hamza', 'Maaz', 'Usama', 'Moin'}
<class 'set'>

set

In [61]:
data = {"name":"Moin Tirmizi",
       "Father Name":"Saleem Tirmizi",
       "Program":"PIAIC",
        True: "Pakistan"
       }
data ["name"]

'Moin Tirmizi'

In [63]:
type (data)

dict

In [64]:
list (data)

['name', 'Father Name', 'Program', True]

In [76]:
# if values are not machting in variable

name1 = "Moin Tirmizi"
name2 = "moin tirmizi"

print (name1,name2 , sep="\n") # name1 and name 2 saparated in new line
print (name1 == name2) # if  values are not same in both variables then it shows false
print (id(name1), id(name2), sep="\n") # show the id of both variables

Moin Tirmizi
moin tirmizi
False
2278900630832
2278900630896

In [83]:
name = "    Moin Tirmizi     "
print (name)
print (len(name))
print (name.lstrip())
print (len(name.lstrip()))

    Moin Tirmizi
21
Moin Tirmizi
17

In [84]:
name = "    Moin Tirmizi     "
print (name)
print (len(name))
print (name.rstrip())
print (len(name.rstrip()))

    Moin Tirmizi
21
    Moin Tirmizi
16

In [85]:
name = "    Moin Tirmizi     "
print (name)
print (len(name))
print (name.strip())
print (len(name.strip()))

    Moin Tirmizi
21
Moin Tirmizi
12

In [108]:
#find string (sub, start, end)
a = "i am a student of artificial intelligence and want to become artificial intelligence expert"
a.find("am") # word "am" starts after second charactor.

2

In [122]:
# Slicing (start "where slicing object is starts", end"where the slicing object end", step"How much word do you want to slice")
a[::2] # slicing 2,2 integers like, 1,4,7,10,13...

'ia  tdn fatfca nelgneadwn obcm riiilitliec xet'

In [123]:
a = "i am a student of artificial intelligence and want to become artificial intelligence expert"
a.split() #spliteing each word and making list.

['i',
 'am',
 'a',
 'student',
 'of',
 'artificial',
 'intelligence',
 'and',
 'want',
 'to',
 'become',
 'artificial',
 'intelligence',
 'expert']

In [175]:
hours = 10
minuts = 15
seconds = 30

#Concatenation using operator "%"
print ("%s:%s:%s" % (hours, minuts, seconds))

10:15:30

In [176]:
first_name = "Moin"
second_name = "Tirmizi"
mobile_no = "(03365152900)"

#Concatenation using operator "%"
print ("%s %s %s" % (first_name,second_name,mobile_no))

Moin Tirmizi (03365152900)

In [168]:
first_name = "Moin"
second_name = "Tirmizi"
mobile_no = "(03365152900)"

#Concatenation using operator "%"
print("First Name: %s \nSecond Name: %s \nMobile No: %s"% (first_name,second_name,mobile_no))

First Name: Moin
Second Name: Tirmizi
Mobile No: (03365152900)

In [177]:
first_name = "Moin"
second_name = "Tirmizi"
mobile_no = "(03365152900)"

#Concatenation using operator "+"
print ("First Name:" +first_name+ "\nSecond Name:" +second_name+ "\nMobile No:" +mobile_no)

First Name:Moin
Second Name:Tirmizi
Mobile No:(03365152900)

In [198]:
a = "Mobile No: "
b = "03365152900"

#Concatenation using srting function
print(a + str(b))

Mobile No: 03365152900

In [195]:
a = "03365152900"

#Concatenation using srting function
print("Mobile No: " + str(a))

Mobile No: 03365152900

In [ ]:
first_name = "Moin"
second_name = "Tirmizi"
mobile_no = "(03365152900)"

#Concatenation using srting function
f"First Name: {first_name} Second Name: {second_name} Mobile No: {mobile_no}"

In [2]:
first_name = "Moin"
second_name = "Tirmizi"
mobile_no = "(03365152900)"

f"First Name: {first_name} Second Name: {second_name} Mobile No: {mobile_no}"

'First Name: Moin Second Name: Tirmizi Mobile No: (03365152900)'

In [3]:
a = input()

Moin Tirmizi