# Arithmetic Operator

In [1]:
+ Addition
- Subtraction
* Multiplication
/ Division
// floor division
** Power
% Modulus

SyntaxError: invalid syntax (<ipython-input-1-8a378a077ee2>, line 5)

In [3]:
5+5 # addition if used with integer

10

In [5]:
5.7+556.6 # addition if used with flot

562.3000000000001

In [6]:
"moin" + "TIrmizi" # concatenation if used with string

'moinTIrmizi'

In [7]:
('1','2') + ('A', 'B') # if used with tuple

('1', '2', 'A', 'B')

In [8]:
{2,8,6} - {2,9,6} # when - is used in set, it shows the difference

{8}

In [9]:
"A" * 3 # it shows Alphabet 3 times

'AAA'

In [10]:
{"A", "B"} * {"A", "B"}

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [11]:
2**3 # double * is used to show power

8

In [12]:
12/3

4.0

In [13]:
11/3

3.6666666666666665

In [15]:
11//3 # Flote devision (it shows the whole numer rather than showning the value after point like 3 not 3.66666)

3

In [ ]:
      3
 3   ____   
____| 11 |____
       9
    _____
       2      # Modulus

In [16]:
11%3

2

# Conparison (Rational) Operator

In [ ]:
== equal
> grater than
< less than
>= grater then equal
<= less than equal
!= not equal
<> not equal ( bot it is for other languages not for python)

In [17]:
"Moin" == "moin" # if string is not equal then i show false

False

In [18]:
'moin' == "moin" # if string is not equal then i show true

True

In [19]:
2 == 2.0

True

In [20]:
a = 2
b = 2
a == b  # if we compare the variable

True

In [21]:
2 == '2' # if we compare integer and string then it shows false

False

In [22]:
6 > 10 # grater then

False

In [23]:
10 > 6

True

In [24]:
10 > 10 # because both values are equal

False

In [27]:
10 >= 10

True

In [28]:
11 >= 10

True

In [29]:
"A" > "B"

False

In [30]:
"B" > "A"

True

In [31]:
chr (65) # pre-defined function to show character via ASCII code

'A'

In [33]:
ord ("A") # pre-defined function to show ASCII code via string of character

65

In [ ]:
ASCII codes ranges are

65=A -> 90=Z
97=a -> 122=z
48=0 -> 57=9

In [35]:
chr (48)

'0'

In [37]:
ord ("0")

48

In [38]:
chr (66) > chr (65) # can be compare via ascii code function

True

In [42]:
 'moin' != "Moin" # it shows true when both values are not equal

True

In [45]:
2 != 2

False

# Assignment Operator

In [ ]:
= 
+=
-=
*=
**=
/=
//=
%=

In [51]:
a = 5
a = 6
a = 7
a = 8

print(a) # because value is overwriting and function is howing last value

8

In [54]:
a = 1
a = a + 2 # 1+2=3
a = a + 3 #3+3=6
a = a + 4 #6+4=10

print (a)

10

In [55]:
a = 1
a += 2
a += 3
a += 4

print (a)

10

In [56]:
a = 100
a -= 2 # 98
a -= 3 # 95
a -= 4 # 91

print (a)

91

In [58]:
a = 1
a *= 2 # 2
a *= 3 # 6
a *= 4 # 24

print (a)

24

In [61]:
a = 100
a /= 2
a /= 2

print (a)
type (a)

25.0

float

In [69]:
a = 100
a //= 2
a //= 2

print (a)
type (a)

25

int

In [ ]:
a = 2
a **= 2 # 2x2=4
a **= 2 # 4x4=16

print (a)
type (a)

In [72]:
a = 21
a %= 5

print (a) # modulus equal

1

In [75]:
a = "A"
a *= 3

print (a)

AAA

In [77]:
a = "A"
a += "B"
a += "C"

print (a) # concatenation equal

ABC

# Logical Operator

In [ ]:
and = &
or = |
not = != , <>

In [ ]:
user_name = "Moin"
password = 123

user = "Moin"
password = 123

print(user == "Moin")
print(password == 123)

In [97]:
True and True and True and True # usage of and

True

In [95]:
True & True & True & True # usage &

True

In [89]:
a = "A"
b = "B"
c = "C"
d = "D"

print ((a=="A") & (b=="B") & (c=="C") & (d=="D"))
print (a=="A" and b=="B" and c=="C" and d=="D")

True
True

In [91]:
True or True or True or True # usage of or

True

In [100]:
True | True | True | True # usage of |

True

In [102]:
True | True | False | True # usage of |

True

In [103]:
False | False | False | False # usage of |

False

In [134]:
user = input("User Name: ")
password = input("Password: ")

user == "Moin" or \
user == "Admin" or \
user =="Abc" and \
password=="123"

User Name: Moin
Password: 123

True

In [141]:
user = input("User Name")
password = input("Password")

(user == "Moin" or user == "Admin" or user == "Abc") \
and password=="123"

User NameMoin
Password123

True

In [113]:
not (False) # not (inverses the result)

True

In [114]:
not (True) # not (inverses the result)

False

In [115]:
not (True and False) # not (inverses the result)

True

In [116]:
not (True and False) # not (inverses the result)

True

# Bitwise Operator

and &

11101 = 29
11100 = 28

11101 
       # and operator
11100
-----
11100 = 28

In [117]:
29 & 28 # and bit operation

28

or |

11101 = 29
11100 = 28

11101 
       # and operator
11100
-----
11101 = 29

In [118]:
29 | 28 # or bit operation

29

xor ^

11101 = 29
11100 = 28

11101 
       # and operator
11100
-----
11101 = 29

In [119]:
29^28 # xor bit operation

1

In [120]:
~2

-3

In [121]:
11101
29<<2
#1110100 (binary code will shift at left) (left shift)

116

In [122]:
11101
29>>2
# 00111 (binary code will right at left) (right shift)

7

In [ ]:
11001 = 25 # value
1100100 = 100 # left shift 2 (2 zeros placed at last of code)
00100 = 6 # left shift 2 (2 zeros placed at start of code)

In [126]:
25<<2

100

In [127]:
25>>2

6

# Membership Operator

#### it checks the velue in data (dictionary, list, tuple) and shows the result
#### in Operator

In [5]:
# in operator

names = ["Qasim", "Moin", "Islamabad", "Rawalpindi", "Pakistan", "Faisalabad", "Karachi", "Lahore", "Peshawar"]

"Pakistan" in "names Pakistan"

True

# Identity Operator
#### is Operator

In [6]:
a = '5'
b = 5
c = a

print (a==b)
print (a==c)

False
True

# Control Flow
#### if, else, elif

if Logic:
    code run if logic True
Else:
    code run if logic False

In [8]:
if True:
    print ("Pakistan")
else:
    print ("Zinda bad")

Pakistan

In [9]:
if False:
    print ("Pakistan")
    print ("Pakistan")
    print ("Pakistan")
    print ("Pakistan")
else:
    print ("Zinda bad")

Zinda bad

True_Block if logic else False_Block

In [11]:
"Pakistan" if True else "Zindabad"

'Pakistan'

In [12]:
"Pakistan" if False else "Zindabad"

'Zindabad'

In [14]:
user = input ("User Name: ")
password = input ("Password: ")

user == "Moin" or user == "moin" or user == "MOIN" and password == "123"

User Name: Moin
Password: 123

True